<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>"/>
    <meta name="keywords" content="design, web design, HTML5, CSS3, typography, layout, grids, javascript, ruby, ruby on rails, wordpress, php, middleman app, games, web applications, ottawa"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= yield_content :javascript %>
    <%= stylesheet_link_tag "site", data: { turbolinks_track: true }  %>
    <link rel="shortcut icon" href="/images/favicon.ico"></link>
    <script src="//use.typekit.net/gmc4yrr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "application", data: { turbolinks_track: true } %>
  </head>
  <body id="olliekav">
    <div id="wrapper"<%= custom_page_classes %>>
      <%= partial "header" %>
      <main id="main" role="main">
        <%= yield %>
      </main>
      <%= partial "work_navigation" if current_page.data.work_item == true %>
    </div>
  </body>
</html>
