%footer#footer
  %p © 2013 olliekav.com

  %p This site was built using #{ link_to 'Middleman', 'http://middlemanapp.com/'} with #{ link_to 'Haml', 'http://haml.info/'} and #{ link_to 'HTML5', 'http://www.w3.org/TR/html5/'} for templating. #{ link_to 'CSS3', 'http://www.w3.org/Style/CSS/'} written in #{ link_to 'Sass', 'http://sass-lang.com/'} takes care of the styling. The fonts used are #{ link_to 'Meta serif web pro', 'https://typekit.com/fonts/ff-meta-serif-web-pro'} and #{ link_to 'Brandon Grotesque', 'https://typekit.com/fonts/brandon-grotesque'} from #{ link_to 'Typekit', 'http://typekit.com'}.

  %ul
    %li=link_to("<span>Twitter</span>", "https://twitter.com/olliekav", "aria-hidden" => "true", "data-icon" => "&#xe000;")
    %li=link_to("<span>Soundcloud</span>", "https://soundcloud.com/olliekav", "aria-hidden" => "true", "data-icon" => "&#xe001;")
    %li=link_to("<span>LastFM</span>", "http://www.last.fm/user/olliekav", "aria-hidden" => "true", "data-icon" => "&#xe003;")
  