<header id="header">
  <%= partial "logo" %>
  <h1>Creative Designer &amp; Developer</h1>
  <nav id="navigation">
    <ul>
      <li><%= link_to("About", "/about/", nav_active("/about/")) %></li>
      <li><%= link_to("Music", "/music/", nav_active("/music/")) %></li>
    </ul>
  </nav>
  <ul class="social-icons">
    <li><%= link_to("<span>Dribbble</span>#{svg('icons/dribbble')}".html_safe, "https://dribbble.com/olliekav", target: "_blank") %></li>
    <li><%= link_to("<span>Twitter</span>#{svg('icons/twitter')}".html_safe, "https://twitter.com/olliekav", target: "_blank") %></li>
    <li><%= link_to("<span>Github</span>#{svg('icons/github')}".html_safe, "https://github.com/olliekav", target: "_blank") %></li>
    <li><%= link_to("<span>Soundcloud</span>#{svg('icons/soundcloud')}".html_safe, "https://soundcloud.com/olliekav", target: "_blank") %></li>
    <li><%= link_to("<span>Mixcloud</span>#{svg('icons/mixcloud')}".html_safe, "https://mixcloud.com/olliekav", target: "_blank") %></li>
  </ul> 
  <p class="copy">© <%= Time.now.year %></p>
</header>
<%= link_to("Menu", "#", class: 'resp-nav', data: { no_turbolink: true }) %>