<header id="header">
  <!--[if gte IE 9]><!-->
    <%= partial "logo" %>
  <!--<![endif]-->
  <!--[if lte IE 8]>
    <%= link_to(image_tag("logo.png", alt: "OllieKav"), "/", class: "logo") %>
  <![endif]-->
  <nav id="navigation">
    <ul>
      <li><%= link_to("Work", "/work/", nav_active("/work/")) %></li>
      <li><%= link_to("About", "/about/", nav_active("/about/")) %></li>
      <li><%= link_to("Music", "/music/", nav_active("/music/")) %></li>
    </ul>
  </nav>
  <ul class="social-icons">
    <li><%= link_to("<span>Twitter</span>", "https://twitter.com/olliekav", class: "icon-twitter-1") %></li>
    <li><%= link_to("<span>Github</span>", "https://github.com/olliekav", class: "icon-github-circled") %></li>
    <li><%= link_to("<span>Soundcloud</span>", "https://soundcloud.com/olliekav", class: "icon-soundcloud-1") %></li>
  </ul>
  <p class="copy">© <%= Time.now.year %></p>
</header>
<%= link_to("Menu", "#", class: 'resp-nav') %>