<% content_for(:title, "About") %>
<% content_for(:description, "I'm as happy designing simple websites &amp; complex UI interfaces to getting fully stuck into code and make these designs come to life.") %>

<section class="about-me">
  <h1>About<br> me</h1>
  <div class="row">
    <div class="col-1">
      <p>Hi, I'm Ollie, a designer and front end developer currently residing in Ottawa, Canada. I'm married to the beautiful <%= link_to("Kat Kavanagh", "http://twitter.com/kassy4") %> and we run our own design agency at <%= link_to("thisiscapra.com", "http://thisiscapra.com") %>.</p>
      <p>I'm as happy designing simple websites or complex UI interfaces to getting fully stuck into code and make these designs come to life. I love sitting at the intersection where design and technology meet to solve interesting problems.</p>
    </div>
    <div class="col-2">
      <p>Elsewhere on the internet you can <%= link_to 'follow me on twitter', 'http://twitter.com/olliekav' %>, check out my dj mixes on <%= link_to 'soundcloud', 'http://soundcloud.com/olliekav' %>, see what I'm listening to on <%= link_to 'lastfm', 'http://www.last.fm/user/olliekav' %> or view my photos and older bits of work on <%= link_to 'flickr', 'http://www.flickr.com/photos/olliekav/' %>.</p>
      <p>We are currently taking on work enquiries at <%= link_to("thisiscapra.com", "http://thisiscapra.com") %> so feel free to get in <%= link_to("contact", "http://thisiscapra.com/contact") %>. For anything else just <%= link_to 'drop me an email', 'mailto:ollie@olliekav.com' %>.</p>
    </div>
  </div>
</section>