- content_for :head do
  %title olliekav.com - About

%h1 About

%p 
  Hi, I'm Ollie, a designer and front end developer from Hampshire. Currently I am working for #{ link_to 'Kyan', 'http://kyan.com'} in Guildford with a great team of designers and developers. I'm married to the beautiful #{ link_to 'Kat Neville', 'http://twitter.com/kassy4'} who runs our web design company at #{ link_to 'thisiscapra', 'http://thisiscapra.com'} with another group of talented of people.

%p This is a stripped down version of my old site with the focus re-aligned to my work and music rather than a blog as I never manage to keep it up to date. If you came here looking for a blog post I'm afraid they have now all been taken down. The blog might reappear at some point in the future.

%p Elsewhere on the internet you can #{ link_to 'follow me on twitter', 'http://twitter.com/olliekav'}, check out my dj mixes on #{ link_to 'soundcloud', 'http://soundcloud.com/olliekav'}, see what I'm listening to on #{ link_to 'lastfm', 'http://www.last.fm/user/olliekav'} or view my photos and older bits of work on #{ link_to 'flickr', 'http://www.flickr.com/photos/olliekav/'}.

%p I am not taking on any projects at the moment, so for any work enquiries please contact #{ link_to 'Kyan', 'http://kyan.com'} or #{ link_to 'thisiscapra', 'http://thisiscapra.com'}. For anything else just #{ link_to 'drop me an email', 'mailto:ollie@olliekav.com'}.