<% content_for(:title, "O:K - Designer & Front-End Developer") %>
<% content_for(:description, "Hi, I'm Ollie, a designer and front end developer currently residing in Ottawa, Canada.") %>

<section class="about-me">
  <h1>Hello!</h1>
  <div class="row">
    <div class="col-1">
      <p>Hi, I'm Ollie, a designer and front end developer currently residing in Ottawa, Canada. I'm married to the beautiful <%= link_to("Kat Kavanagh", "http://twitter.com/kassy4", target: "_blank") %> and we run our own design agency at <%= link_to("thisiscapra.com", "http://thisiscapra.com", target: "_blank") %>.</p>
      <p>I'm as happy designing simple websites or complex UI interfaces to getting fully stuck into code and make these designs come to life. I love sitting at the intersection where design and technology meet to solve interesting problems.</p>
    </div>
    <div class="col-2">
      <p>Elsewhere on the internet you can <%= link_to('follow me on twitter', 'http://twitter.com/olliekav', target: "_blank") %>, check out my dj mixes on <%= link_to('soundcloud', 'http://soundcloud.com/olliekav', target: "_blank") %>, see what I'm listening to on <%= link_to('lastfm', 'http://www.last.fm/user/olliekav', target: "_blank") %> or view my photos on <%= link_to('Instagram', 'http://www.instagram.com/olliekav/', target: "_blank") %>.</p>
      <p>We are not currently taking on work enquiries at <%= link_to("thisiscapra.com", "http://thisiscapra.com", target: "_blank") %> but feel free to get in <%= link_to("contact", "http://thisiscapra.com/contact") %>. For anything else just <%= link_to 'drop me an email', 'mailto:ollie@olliekav.com' %>.</p>
    </div>
  </div>
</section>