- content_for :head do
  %title olliekav.com - Home

- content_for :title do
  I design and build cool stuff.

%ul#portfolio_list
  %li.portfolio_item.alfredapp
    %h2 Alfred App
    %h3 The award-winning productivity application for Mac OS X
    %p.meta 
      Design, Branding, icon design, HTML, CSS3, JQuery
    =link_to("<span>View project</span>", "http://alfredapp.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/alfredapp_mobile.jpg", :alt => "")
    = image_tag("portfolio/alfredapp_logo.jpg", :alt => "", :class => "logos")
    = image_tag("portfolio/alfredapp_icons.jpg", :alt => "", :class => "icons")
  %li.portfolio_item.rebellion
    %h2 Rebellion
    %h3 A new web presence for one of Europe’s leading games developers
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.rebellion.co.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/rebellion_mobile.jpg", :alt => "")
  %li.portfolio_item.altonconvent
    %h2 Alton Convent School
    %h3 A powerful wordpress based CMS for one of the UK's top schools
    %p.meta 
      Design, Branding, HTML, CSS3, JQuery, wordpress
    =link_to("<span>View project</span>", "http://www.altonconvent.org.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/altonconvent_mobile_v2.jpg", :alt => "")
  %li.portfolio_item.backpage
    %h2 Backpage Football
    %h3 A platform for authors to create high quality football writing
    %p.meta 
      Design, HTML5, CSS3, JQuery, Wordpress multi-site
    =link_to("<span>View project</span>", "http://backpagefootball.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/backpagefootball_mobile_v2.jpg", :alt => "")
  %li.portfolio_item.otr
    %h2 OnTarget Recruitment
    %h3 One of the UK's leading specialist recruitment agencies
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.otrsales.co.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/otr_mobile.jpg", :alt => "")
  %li.portfolio_item.workplace
    %h2 Workplace Concepts
    %h3 A beautifil web refurbishment for a 30 year old company
    %p.meta 
      Design, HTML5, CSS3, JQuery, Rails - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.workplaceconcepts.co.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/workplace_mobile.jpg", :alt => "")
  %li.portfolio_item.qmee
    %h2 Qmee
    %h3 Turn online searching into the things you love
    %p.meta 
      Design, HTML5, CSS3, JQuery, Ruby on Rails - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://qmee.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/qmee_mobile.jpg", :alt => "")
  %li.portfolio_item.cloudprofiler
    %h2 Cloud Profiler
    %h3 Powerful, customisable CRM assessments
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.cloudprofiler.com/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.talis
    %h2 Talis Capital
    %h3 Private equity investment
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.taliscapital.com/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/talis_mobile.jpg", :alt => "")
  %li.portfolio_item.cube
    %h2 Cube Content Governance
    %h3 Next generation content governance
    %p.meta 
      Design, Branding, HTML, CSS3, JQuery - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://cubecontentgovernance.com/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.rodeo
    %h2 Rodeo Games
    %h3 One of the leading mobile games developers
    %p.meta 
      Design, HTML5, CSS3, PHP, JQuery - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://rodeogames.co.uk", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.hiphopquoted
    %h2 Hip-Hop Quoted
    %h3 Bringing hip-hop quotes to life
    %p.meta 
      Design, HTML5, CSS3, Art directed posts, wordpress
    =link_to("<span>View project</span>", "http://hiphopquoted.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    = image_tag("portfolio/hiphopquoted_logo.jpg", :alt => "", :class => "logos")