- content_for :head do
  %title olliekav.com - Home

%ul#portfolio_list
  %li.portfolio_item.alfredapp
    %h2 Alfred App
    %p.meta 
      Design, Branding, icon design, HTML, CSS3, JQuery
    =link_to("<span>View project</span>", "http://alfredapp.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/alfredapp_mobile.jpg", :alt => "")
    = image_tag("portfolio/alfredapp_logo.jpg", :alt => "", :class => "logos")
    = image_tag("portfolio/alfredapp_icons.jpg", :alt => "", :class => "icons")
  %li.portfolio_item.dress2kill
    %h2 Dress2kill
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://dress2kill.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.backpage
    %h2 Backpage Sports
    %p.meta 
      Design, HTML5, CSS3, JQuery, Wordpress multi-site
    =link_to("<span>View project</span>", "http://backpagefootball.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/backpagefootball_mobile_1.jpg", :alt => "")
  %li.portfolio_item.cube
    %h2 Cube Content Governance
    %p.meta 
      Design, Branding, HTML, CSS3, JQuery - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://cubecontentgovernance.com/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.qmee
    %h2 Qmee
    %p.meta 
      Design, HTML5, CSS3, JQuery, Ruby on Rails - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://qmee.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/qmee_mobile.jpg", :alt => "")
  %li.portfolio_item.staffyapp
    %h2 Staffy app
    %p.meta 
      Design, branding, HTML5, CSS3, JQuery, Ruby on Rails - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://staffyapp.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    .iphone
      %span.camera
      %span.speaker
      %span.home
        %span.circle
      .content
        = image_tag("portfolio/staffyapp_mobile_1.jpg", :alt => "")
    = image_tag("portfolio/staffyapp_logo.png", :alt => "", :class => "logos")
    //= image_tag("portfolio/staffyapp_characters.png", :alt => "", :class => "icons")
  %li.portfolio_item.rodeo
    %h2 Rodeo Games
    %p.meta 
      Design, HTML5, CSS3, PHP, JQuery - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://rodeogames.co.uk", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
  %li.portfolio_item.hiphopquoted
    %h2 Hip-Hop Quoted
    %p.meta 
      Design, HTML5, CSS3, Art directed posts, wordpress
    =link_to("<span>View project</span>", "http://hiphopquoted.com", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    = image_tag("portfolio/hiphopquoted_logo.jpg", :alt => "", :class => "logos")
  %li.portfolio_item.altonconvent
    %h2 Alton Convent School
    %p.meta 
      Design, Branding, HTML, CSS3, wordpress
    =link_to("<span>View project</span>", "http://www.altonconvent.org.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera
    = image_tag("portfolio/altonconvent_logo.jpg", :alt => "", :class => "logos")
  %li.portfolio_item.contentgroup
    %h2 The Content Group
    %p.meta 
      Design - For
      =link_to("Kyan.com", "http://kyan.com")
    =link_to("<span>View project</span>", "http://www.thecontentgroup.co.uk/", :class => "button")
    .monitor_wrapper
      .monitor
        .content
        %span.camera