---
work_item: true
---

<% content_for(:title, "O:K - Work - #{client.name}") %>
<% content_for(:description, Nokogiri::HTML(client.intro(115)).text) %>
<% content_for(:page_class, client.url) %>

<section class="work work-item">

  <header>
    <h1><%= client.page_title %></h1>
  </header>

  <div class="row">
    <% if client.intro %>
      <div class="project">
        <h2>The project</h2>
        <p><%= client.intro %></p>
      </div>
    <% end %>

    <% if client.services %>
      <div class="services">
        <h3>Services</h3>
        <ul>
          <% client.services.each_with_index do |item, index| %>
            <li><%= item %></li>
          <% end %>
        </ul>
        <% if client.link %>
          <%= link_to("Live project", client.link, class: "button", target: "_blank") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if client.images %>
    <div class="gallery">
      <% client.images.each_with_index do |item, index| %>
        <%# if index == 2 && client.testimonial %>
          <%#= partial "client_blockquote", :locals => {:client => client, featured: false}  %>
        <%# end %>
        <% if item.image.css_class.include? "full" %>
          <hr>
        <% end %>
        <figure class="image <%= item.image.css_class %>">
          <%= image_tag("work/#{client.url}/#{item.image.name}", alt: "") %>
        </figure>
        <% if item.image.css_class.include? "break" %>
          <hr>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <hr>

</section>